build
dist
malaya.egg-info
malaya_gpu.egg-info
.ipynb_checkpoints
malaya/__pycache__
*__pycache__
*.DS_Store
docs/_build
docs/_static
siamese
skipthought
*<MagicMock*
*Untitled*.ipynb
wiki.ms.vec
*tensorboard
client_secrets.json
lid.176.ftz
coverage.xml
.coverage
.coveragerc
htmlcov
test
.pytest_cache
misc/crawl/isu*
a.py
topics.json
testset-keyphrase.json
test.txt
train.txt
countries.geojson
popit-persons.json
kerajaan-articles
._*
dbp
dbp.zip
mp.py
a
crawl-dbp*
dbp.ipynb
unique-words.json
*.normalized
*.normalized.jsonl*
normalized-twitter.ipynb
synonym*.json
filtered-dumping-wiki.txt
gsd-ud-dev.conllu.txt
pretrained-model/language-detection-v2/*.jsonl
pretrained-model/language-detection-v2/*.json
pretrained-model/language-detection-v2/r-*
pretrained-model/language-detection-v2/*.txt
*wget-log
pretrained-model/prepare-llm/*/*.json
pretrained-model/prepare-llm/*.json
pretrained-model/prepare-llm/*.jsonl
pretrained-model/prepare-llm/*.ftz
pretrained-model/language-detection-v2/*.csv
pretrained-model/language-detection-v2/*.tsv
pretrained-model/language-detection-v2/*.dedup
pretrained-model/language-detection-v2/*.bin
pretrained-model/language-detection-v2/*.ftz
pretrained-model/nanoT5/fb-dedup.jsonl
pretrained-model/nanoT5/combine.jsonl
pretrained-model/nanoT5/combine-others.jsonl
pretrained-model/nanoT5/combine-others-rev.jsonl
pretrained-model/nanoT5/combine-others-v2.jsonl
pretrained-model/nanoT5/logs
pretrained-model/nanoT5/out-base-1.1
pretrained-model/nanoT5/out-small-1.1
pretrained-model/nanoT5/out-tiny-1.1
pretrained-model/nanoT5/out-large-1.1
pretrained-model/nanoT5/out-super-tiny-1.1
session/llama2/results
session/llama2/results-1024
session/llama2/results-1536
session/llama2/shuf-*.jsonl
session/llama2/ctranslate2
session/llama2/example.jsonl
session/llama2/results-1536-v2
session/llama2/results-1024-packing
*.pkl_memoize_py3
session/emotion/emotion-twitter-lexicon.json
session/entities/*.json
session/*/*/config.json
session/*/*/*.bin
tests/.hypothesis
*.pt
session/*/tokenizer
session/*/*.zip*
session/stemmer/*.txt
session/stemmer/*.json
session/syllable/*.json
session/*/*.jsonl
session/*/prepared.json
session/*/explain-sentiment.json