build
dist
malaya.egg-info
malaya_gpu.egg-info
.ipynb_checkpoints
malaya/__pycache__
*__pycache__
*.DS_Store
docs/_build
docs/_static
siamese
skipthought
*<MagicMock*
*Untitled*.ipynb
wiki.ms.vec
*tensorboard
client_secrets.json
lid.176.ftz
